spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.jetbrains.notifyhub: DEBUG
    org.hibernate.SQL: DEBUG
